@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Actual Code */

body {
    display: flex;

    min-height: 100vh;
    background-image: url(background.jpg) ;
    background-size: cover;

    font-family: "Roboto";
}

header {
    padding: 20px 20px;
    margin: 10px;

    height: calc(100vh - 20px);
    width: 300px;

    border-radius: 10px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);

    background-color: #D9D9D9;
}

.header-brand {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 5px;

    font-size: 35px;
    font-family: 'Roboto Mono';
    font-weight: 500;

    margin-bottom: 0.75em;
}

.header-logo {
    height: 50px;
}

header > nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

header ul {
    list-style: none;

    width: 100%;
    padding-left: 0px;

    font-size: 22px;
    font-weight: 500;
}

header li {
    padding-top: 2px;
    padding-bottom: 2px;
}

header li {
    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 10px;
} 

header li > img {
    height: 24px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 28px;
    font-weight: 500;

    width: 100%;

    margin-top: 10px;
    margin-bottom: 5px;

    padding-top: 10px;

    border-top: 2px solid gray;
}

.project-header > button {
    background-color: transparent;
    border: none;
    
    padding: 0px;
    box-sizing: border-box;
    width: 42px;
}

header > nav > ul:last-of-type {
    padding-left: 20px;
}

#content {
    flex: 1;

    margin: 10px;
    
    border: none;
    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(3px);

}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    font-size: 40px;
}

.list-table  {
    margin-left: 20px;
    
    width: calc(100% - 100px);
    border-collapse: collapse;
}

.list-table th, .list-table td {
    padding: 0.2em 0.3em;
}

.list-table-header td {
    border: none;
    border-bottom: solid 1px grey;

    font-size: 24px;
    font-weight: 500;
}

.list-table-header td:nth-child(1) {
    width: 4%;
}

.list-table-header td:nth-child(3) {
    width: 15%
}

.list-table-header td:nth-child(4) {
    width: 15%
}

.list-table-header td:nth-child(5) {
    width: 70px;
}

.task-checkbox button {
    display: flex;
    align-items: center;

    padding: 0;

    border: none;
    background-color: transparent;
}

.task-checkbox img {
    height: 25px;
    width: 25px;
}

.list-table-body td {
    border: none;

    vertical-align: center;

    font-size: 22px;
    font-weight: 400;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.action-buttons button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px;
    background-color: transparent;
    border: none;

    height: 25px;
    width: 25px;
}

.action-buttons img {
    height: 100%;
    width: 100%;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5%;
    bottom: 5%;

    border-radius: 100%;
    border: none;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

    background-color: #fcfcfc;

    height: 55px;
    width: 55px;

    font-size: 40px;
}

#add-task-dialog {
    margin: auto;
    width: 20%;

    border-radius: 10px;
    border: none;

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);

    background-color: transparent;
    backdrop-filter: blur(10px);
}

#add-task-dialog form {
    display: flex;
    flex-direction: column;
}

#add-task-dialog ul {
    list-style: none;
    width: 100%;

    padding: 0px;
    margin: 10px 0px;
}

#add-task-dialog li {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.75em;
}

#add-task-dialog label {
    font-weight: 500;
    font-size: 18px;
}

#add-task-dialog input, 
#add-task-dialog textarea, 
#add-task-dialog select {
    border: none;
    border-bottom: solid 2px rgb(171, 171, 171);

    background-color: transparent;
    transition: border-bottom-color 100ms;
}

#add-task-dialog input:focus, 
#add-task-dialog textarea:focus, 
#add-task-dialog select:focus {
    outline: none;
    border-bottom-color: rgb(54, 54, 54);

    background-color: transparent;
}

#add-task-dialog textarea {
    resize: none;
}

.add-task-action-buttons {
    width: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.add-task-action-buttons button {
    padding: 5px 15px;

    border-radius: 5px;
    border: none;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

    font-weight: 500;
    font-size: 16px;

    transition: background-color 50ms;
}

.add-task-action-buttons button:hover {
   background-color: rgb(200, 200, 200);
}